<!doctype html>
<html ng-app='MyApp'>
<head>
<title>Todo List</title>
<script src="lib/angular.1.2.4-min.js"></script>
<script src="lib/angular-animate.js"></script>
<script src="lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">

<style>
    body{
        overflow-y: scroll;
        }
    label {
        display: inline;
    }
    input[type="checkbox"]{
        display:inline;
    }
</style>

<script>
var MyApp = angular.module('MyApp',['ui.bootstrap']).controller('MainCtrl',function($scope,$http){
    $scope.init = function(){
        $scope.debug = 'nothingyet';
        
        $scope.lists = [];
        
    };
    
    $scope.setup_lists = function(){
        $http.get('setup').success(function(data){
            $scope.get_lists();
        });
    };
    
    $scope.get_lists = function(){
        $http.get('get_lists').success(function(data){
            $scope.debug = data;
            $scope.lists = data;
        });
    };
    
    $scope.create_list = function(){
        var new_name = prompt("Enter list name", "new list");
        $http.post('create_list',JSON.stringify({'name':new_name})).success(function(data){
            $scope.lists.push({'id':data,'name':new_name});
        });
    };
    
    $scope.delete_list = function(index){
        $http.delete('delete_list/'+$scope.lists[index].id).success(function(data){
            $scope.lists.splice(index, 1);
        });
    };
    
    $scope.rename_list = function(list_index){
    var new_name = prompt("Enter list name", $scope.lists[list_index].name);
        if (new_name != null) {
            $http.post('update_list/'+$scope.lists[list_index].id,JSON.stringify({'name':new_name})).success(function(){
                $scope.lists[list_index].name = new_name;
            });
        }
    };
    
    $scope.init();
});
</script>
</head>

<body ng-controller='MainCtrl'>

<button ng-click='setup_lists()'>Reset to Sample Data</button>
<button ng-click='get_lists()'>Reload Lists</button>
<hr>
<center>
<h1>Home Page</h1>
</center>
<hr>
<center>
<div class='well' style='display:inline-block;'>
    <table width=400>
        <tr>
            <td>Todo Lists:</td>
            <td colspan=2 width=50><button ng-click='create_list()'>New</button></td>
        </tr>
        <tr ng-repeat='list in lists'>
            <td>
                <a href='list.html?list_id={{list.id}}'>{{list.name}}</a>
            </td>
            <td>
                [<span ng-click='rename_list($index)'>rename</span>]
            </td>
            <td>
                <img src='img/delete.png' ng-click='delete_list($index)' />
            </td>
        </tr>
    </table>
</div>
</center>
</body>
</html>
