<!DOCTYPE HTML>
<html ng-app='MyApp'>
<head>
<title>Todo List Items</title>
<script src="lib/angular.1.2.4-min.js"></script>
<script src="lib/angular-animate.js"></script>
<script src="lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">

<style>
    body{
        overflow-y: scroll;
        }
    label {
        display: inline;
    }
    input[type="checkbox"]{
        display:inline;
    }
</style>

<script>
var URLPARAMS;
(window.onpopstate = function () {
    var match,
        pl     = /\+/g,  // Regex for replacing addition symbol with a space
        search = /([^&=]+)=?([^&]*)/g,
        decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
        query  = window.location.search.substring(1);

    URLPARAMS = {};
    while (match = search.exec(query)){
       URLPARAMS[decode(match[1])] = decode(match[2]);
    }
})();

var MyApp = angular.module('MyApp',['ui.bootstrap']).controller('MainCtrl',function($scope,$http,$timeout){
    $scope.init = function(){
    
        //$scope.current_list = null;
        $scope.items = [];
        $scope.list_id = URLPARAMS['list_id'];
        $scope.get_list_items($scope.list_id);
        
    };
    
    $scope.get_list_items = function(list_id){
        $http.get('list_items/'+list_id).success(function(data){
            $scope.items = data;
        }).error(function(data){
            alert('error loading list');
        });
    };
    
    $scope.create_item = function(){
        var new_name = prompt("Enter item description", "new item");
        $http.post('create_item/'+$scope.list_id,JSON.stringify({'description':new_name})).success(function(data){
            $scope.items.push({'id':data,'description':new_name,'completed':false,'list_id':$scope.list_id});
        });
    };
    
    $scope.delete_item = function(index){
        $http.delete('delete_item/'+$scope.items[index].id).success(function(data){
            $scope.items.splice(index, 1);
        });
    };
    
    $scope.rename_item = function(item_index){
    var new_name = prompt("Enter new description", $scope.items[item_index].description);
        if (new_name != null) {
            $http.post('update_item/'+$scope.items[item_index].id,JSON.stringify({'description':new_name})).success(function(){
                $scope.items[item_index].description = new_name;
            });
        }
    };
    
    $scope.toggle_completed = function(item){
        var state = false;
        if(item.completed){
            state = true;
        }
        
         $http.post('update_item/'+item.id,JSON.stringify({'completed':state})).success(function(){
            //pass
        });
    }
    $scope.init();
});
</script>
</head>

<body ng-controller='MainCtrl'>
<hr>
<center>
<h1>List Details | <a href='/' class='btn'>Home</a></h1>
</center>
<hr>
<center>
<div class='well' style='display:inline-block;'>
    <table width=400>
        <tr>
            <td colspan=2 width=100%>List name:</td>
            <td colspan=2 width=50><button ng-click='create_item()'>New</button></td>
        </tr>
        <tr ng-repeat='item in items'>
            <td><input type='checkbox' ng-model='item.completed' ng-change='toggle_completed(item)'>
            <td>
                {{item.description}}
            </td>
            <td>
                [<span ng-click='rename_item($index)'>rename</span>]
            </td>
            <td>
                <img src='img/delete.png' ng-click='delete_item($index)' />
            </td>
        </tr>
    </table>
</div>
<center>
</body>
</html>
